/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Josefin+Sans&family=Source+Code+Pro&display=swap');
/* Cabin: main text, Josefin Sans: headers, Source Code Pro: code 😛 */
* {
	margin: 0;
	padding: 0;
	font-family: 'Cabin';
	transition: all 0.5s ease-in-out;
	scroll-behavior: smooth;
}
h1 {
	font-family: 'Josefin Sans';
}

p.code {
	tab-size: 2em;
	color: white;
	font-family: 'Source Code Pro';
}
p.code > span::after {
	/* add newline to span */
	content: '\A';
	white-space: pre;
}
p.code > span {
	counter-increment: line;
}
p.code .comment {
	color: #777;
}
p.code > span::before {
	content: counter(line) '. ';
	color: #666;
	display: inline-block;
	width: 2rem;
	text-align: left;
}
div.code-wrapper {
	background-color: black;
	padding: 1rem;
	border-radius: 10px;
}

span.center {
	text-align: center;
}
a {
	text-decoration: none;
}
.link {
	text-decoration: underline;
	color: #666;
}
.page {
	width: 100%;
	height: 100vh;
	position: relative;
}
h1.main-header {
	margin-top: 3vh;
	text-align: center;
	font-size: 3.5rem;
}
p.main-text {
	margin-top: 5%;
	font-size: 2rem;
}
h1.main-header::after {
	/* Page header underline */
	/* Makes sure pseudo elements is displayed */
	content: '';
	display: block;
	/* Set bar size */
	position: absolute;
	width: 60px;
	height: 5px;
	/* Position bar */
	left: 50%;
	transform: translateX(-50%);
	/* Style bar */
	transition: width 0.5s ease-in-out; /* Add transition to pseudo elements because * doesnt affect them */
	background-color: black;
}

h1.main-header:hover::after {
	width: 90%;
}

/* Nav */

div#nav {
	background-color: black;
	color: white;
	position: fixed;
	width: 100%;
	height: min(max(5vh, 30px), 50px);
	z-index: 10;
}

div#nav > div.nav-button {
	width: 100vw; /* This doesn't apply but is still needed */
	display: table-cell;
}

div.nav-button > a {
	align-items: center;
	justify-content: center;
	display: flex;
	height: 100%;
	width: calc(100% / 8);
	position: absolute;
	color: white;
}

div.nav-button > a:hover {
	text-decoration: underline;
	box-shadow: 10px;
	box-shadow: inset 0 calc(50px) 0 0 white;
	color: black;
}

/* Main page */

div#main > div.wrapper {
	position: absolute;
	top: 50%;
	width: max(30%, 37rem);
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Comments page */

div#comment > div.wrapper {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 5vh;
	width: max(30%, 45rem);
}
div#comment > div.code-container {
	display: grid;
	position: absolute;
	bottom: 5vh;
	left: 50%;
	transform: translateX(-50%);
	width: max(30%, 45rem);
}

div#comment div.code-wrapper {
	grid-row: 1;
	margin: 10px;
}

/* Images */

div#table > div {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: max(30%, 45rem);
}

div#table > div.wrapper {
	top: 10vh;
}

div#table > div.content {
	bottom: 10vh;
	display: grid;
}

div#table > div.content > * {
	grid-row: 1;
}

div#table > div.content > img#html5logo {
	height: 30vh;
	display: block;
	margin-left: auto;
}

div#table > div.content th:not(.no-border),
div#table > div.content td {
	border: 0.5rem solid white;
	text-align: center;
	background-color: #ddd;
}

/* Stylesheets */

div#styles > div.wrapper {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 5vh;
	width: max(30%, 45rem);
}

div#styles > div.code-container {
	display: grid;
	position: absolute;
	bottom: 5vh;
	left: 50%;
	transform: translateX(-50%);
	width: max(30%, 45rem);
}

div#styles div.code-wrapper {
	grid-row: 1;
	margin: 10px;
}

/* Pseudo's */

div#pseudo > div.wrapper {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 5vh;
	width: max(30%, 45rem);
}

div#pseudo > div.code-container {
	display: grid;
	position: absolute;
	bottom: 5vh;
	left: 50%;
	transform: translateX(-50%);
	width: max(30%, 45rem);
}

div#pseudo div.code-wrapper {
	grid-row: 1;
	margin: 10px;
}

/* <div id="pseudo" class="page">
			<div class="wrapper">
				<h1 class="main-header">Complex selectors and Pseudo elements</h1>
				<p class="main-text">
					To keep your css file(s) clean, it is really important that you use a
					variety of techniques to consolidate your css code.
				</p>
			</div>
			<div class="code-container">
				<div class="code-wrapper">
					<p class="code css"></p>
				</div>
				<div class="code-wrapper">
					<p class="code css"></p>
				</div>
			</div>
		</div> */
