/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Josefin+Sans&family=Source+Code+Pro&display=swap');
/* Cabin: main text, Josefin Sans: headers, Source Code Pro: code 😛 */
* {
	margin: 0;
	padding: 0;
	font-family: 'Cabin';
	transition: all 0.5s ease-in-out;
	scroll-behavior: smooth;
}
h1 {
	font-family: 'Josefin Sans';
}

p.code {
	color: white;
	font-family: 'Source Code Pro';
}
p.code > span::after {
	/* add newline to span */
	content: '\A';
	white-space: pre;
}
p.code > span {
	counter-increment: line;
}
p.code > span::before {
	content: counter(line) '. ';
	color: #666;
	display: inline-block;
	width: 2rem;
	padding-left: auto;
	margin-left: auto;
	text-align: left;
}
div.code-wrapper {
	background-color: black;
	padding: 1rem;
	border-radius: 10px;
}

span.center {
	text-align: center;
}
a {
	text-decoration: none;
}
div.page {
	width: 100%;
	height: 100vh;
	position: relative;
}
h1.main-header {
	text-align: center;
	font-size: 3.5rem;
}
p.main-text {
	font-size: 2rem;
}
h1.main-header::after {
	content: '';
	display: block;
	position: absolute;
	width: 60px;
	height: 5px;
	left: 50%;
	transform: translateX(-50%);
	transition: width 0.5s ease-in-out; /* Add transition to pseudo elements because * doesnt affect them */
	background-color: black;
}

h1.main-header:hover::after {
	width: 90%;
}

/* Nav */

div#nav {
	background-color: black;
	color: white;
	position: fixed;
	width: 100%;
	height: min(max(5vh, 30px), 50px);
	z-index: 10;
}

div#nav > div.nav-button {
	width: 100vw; /* This doesn't apply but is still needed */
	display: table-cell;
}

div.nav-button > a {
	align-items: center;
	justify-content: center;
	display: flex;
	height: 100%;
	width: calc(100% / 8);
	position: absolute;
	color: white;
}

div.nav-button > a:hover {
	text-decoration: underline;
	box-shadow: 10px;
	box-shadow: inset 0 calc(50px) 0 0 white;
	color: black;
}

/* Main page */

div#main > div.wrapper {
	position: absolute;
	top: 50%;
	width: max(30%, 37rem);
	left: 50%;
	transform: translate(-50%, -50%);
}
div#main h1.main-header {
	margin-top: 3vh;
}

div#main p.main-text {
	margin-top: 5%;
}

/* Comments page */

div#comment > div.wrapper {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 10vh;
	width: max(30%, 45rem);
}

div#comment h1.main-header {
	margin-top: 3vh;
}

div#comment p.main-text {
	margin-top: 5%;
}

div#comment > div.code-container {
	display: grid;
	position: absolute;
	bottom: 15vh;
	left: 50%;
	width: max(30%, 45rem);
	transform: translateX(-50%);
}

div#comment div.code-wrapper {
	grid-row: 1;
	margin: 10px;
}

/* <div class="code-container">
				<div class="code-wrapper">
					<p class="code">test</p>
				</div>
				<div class="code-wrapper">
					<p class="code">test</p>
				</div>
			</div> */
